<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mihaildementev.traininghistory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="История тренировок"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TrainingHistoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TrainingStatisticsActivity"
            android:label="Статистика тренировки"/>
    </application>

</manifest>